body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  margin-bottom: 20px;
  font-weight: 300;
}

.form-control {
  border-radius: 20px;
}

.btn-primary {
  border-radius: 20px;
  padding: 10px;
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.link-unstyled {
  color: inherit;
  text-decoration: none;
}
